<div class="sidebar">
  <div>
    <h4>Categories</h4>
    <ul>
      {% for category in site.categories %}
        <li>
          <a href="/categories.html#{{ category[0] }}">
            {% if page.categories contains category[0] %}
              <b>{{ category[0] }}</b>
            {% else %}
              {{ category[0] }}
            {% endif %}
          </a>
          <sup>[{{ category[1].size }}]</sup>
        </li>
      {% endfor %}
    </ul>
    <hr/>
    <h4>Tags</h4>
    <ul>
      {% for tag in site.tags %}
        <li>
          <a href="/tags.html#{{ tag[0] }}">
            {% if page.tags contains tag[0] %}
              <b>{{tag[0]}}</b>
            {% else %}
              {{ tag[0] }}
            {% endif %}
          </a>
          <sup>[{{ tag[1].size }}]</sup>
        </li>
      {% endfor %}
    </ul>
    <hr/>
    <h4>Archive</h4>
    {% for post in site.posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
            <h6 id="{{ this_year }}-ref">{{this_year}}</h2>
            <ul>
        {% endif %}

        <li><a href="{{ post.url }}">{{ post.title }}</a></li>

        {% if forloop.last %}
            </ul>
        {% else %}
            {% if this_year != next_year %}
                </ul>
                    <h6 id="{{ next_year }}-ref">{{next_year}}</h2>
                <ul>
            {% endif %}
        {% endif %}
    {% endfor %}
  </div>
</div>